@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body {
    background-color: #ffc107;
    font-family: 'Inter';
}

main {
    width: 900px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

main section {
    border-radius: 30px;
    padding: 30px;
}

.secaoAddInfo {
    background-color: #FFF;
    width: 700px;
}

.secaoAddInfo h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.FormAddOrcamento h2 {
    font-weight: bold;
}

.FormAddOrcamento input {
    display: block;
    width: 100%;
    border: none;
    box-shadow: 0px 3px 15px -4px #575757;
    outline: none;
    border-radius: 3px;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}

.FormAddOrcamento button {
    background-color: blueviolet;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    color: #FFF;
    font-weight: bold;
    padding: 8px 0;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 16px;
}

.FormAddDespesa h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.FormAddDespesa input {
    display: block;
    width: 100%;
    border: none;
    box-shadow: 0px 3px 15px -4px #575757;
    outline: none;
    border-radius: 3px;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}

.FormAddDespesa button {
    background-color: blueviolet;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    color: #FFF;
    font-weight: bold;
    padding: 8px 0;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 16px;
}

.containerDespesasCabecalho {
    display: flex;
    margin: 40px 0;
}

.containerDespesasCabecalho p {
    font-size: 16px;
    font-weight: bold;
}

.tituloDespesa {
    margin-right: 150px;
}

.containerDespesas_lista li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecfbef;
    color: #78ce71;
    font-weight: bold;
    padding: 30px 20px;
    border-radius: 2px;
}

.secaoResultados {
    background-color: #FFF;
    width: 300px;
    margin-left: 30px;
}

.secaoResultados div h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.secaoResultados div p {
    font-size: 28px;
}

.secaoResultados div {
    text-align: center;
    margin-bottom: 50px;
}

.secaoResultados_Orcamento p {
    color: #78ce71
}

.secaoResultados_Despesas p {
    color: #e44f3c;
}

#intro {
    font-size: 30px;
    line-height: 15px;
}

.secaoResultados_Saldo p {
    color: cornflowerblue;
}